extends layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/404.css")

block content
    main 
        div#notfound
            div.notfound
                div.notfound-404
                    h3 Oops! Page not found
                    h1
                        span 4
                        span 0
                        span 4
                h2 we are sorry, but the page you requested was not foundrs