
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About Us</title>
        <link type="text/css" rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item"><a href="/">Home</a></li>
                    <li class="main-header__item"><a href="/services">Services</a></li>
                    <li class="main-header__item"><a href="/about-us">About</a></li>
                    <li class="main-header__item"><a href="/facts">FAQs</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Add Product</h1>
            <form action="/product" method="POST"><input type="text" name="title" npm start/><button type="submit" name="submit">Submit</button></form>
        </main>
    </body>
</html>
